*.smc
*.smc~
*.zst
*.srm
*.bak
*.sfc
*.mss
*.bsz
*.000
!smwtitledemo.000
monitor
uberasm/asm/work/*.asm
music/stats
music/SPCs/*.spc
music/asm/SNES/SongSampleList.asm
music/asm/main.bin
music/temp.asm
music/temp.bin
**.lrp
**/Lunar\ Magic.exe
**/Lunar\ Magic.chm
sysLMRestore
lunar-helper/config_user.txt
lunar-monitor-log.txt
lunar_monitor_log.txt
resource/temp/all.map16
*.extmod
*.lnk
.lunar_helper/
music/asm/SFX1DF9Table.bin
music/asm/SFX1DFCTable.bin
music/asm/SFXData.bin
music/asm/tempmain.asm
music/temp.log
music/temp.txt

