*.smc
*.smc~
monitor
uberasm/asm/work/*.asm
music/stats
music/SPCs
**.lrp
**/Lunar\ Magic.exe
**/Lunar\ Magic.chm
resource/lunar-monitor-log.txt
sysLMRestore
lunar-helper/.vscode
lunar-helper/bin
lunar-helper/obj