*.smc
*.smc~
monitor
uberasm/asm/work/*.asm
music/stats
music/SPCs
music/asm/SNES/SongSampleList.asm
music/temp.asm
**.lrp
**/Lunar\ Magic.exe
**/Lunar\ Magic.chm
resource/lunar-monitor-log.txt
sysLMRestore
lunar-helper/.vscode
lunar-helper/bin
lunar-helper/obj
lunar-helper/config_user.txt
